​​{% extends 'base.html' %} {% block content %}
<h2>{{ product.title }}</h2>
<p>{{ product.description }}</p>
<p style="color: #ff1493; font-weight: bold; font-size: 20px">
  Цена: {{ product.price }} ₽
</p>
<form method="post">
  {% csrf_token %}
  <h3>Оставить отзыв 💖</h3>
  {{ form.as_p }}
  <button type="submit">Отправить отзыв</button>
</form>

<h3>Отзывы:</h3>
<ul>
  {% for review in reviews %}
  <li>{{ review.text }}</li>
  {% endfor %}
</ul>
<hr />
<h3>Отзывы:</h3>
{% for review in reviews %}
<div
  style="
    border-left: 3px solid #ffb6c1;
    padding-left: 10px;
    margin-bottom: 10px;
  "
>
  <p>
    <strong>{{ review.user.username }}</strong> (Оценка: {{ review.rating }}/5)
  </p>
  <p>{{ review.text }}</p>
</div>
{% empty %}
<p style="color: #888">Отзывов пока нет. Будьте первыми!</p>
{% endfor %} {% endblock %}
